{% extends 'base.html' %}
{% load static %}


{% block header %}
	{% include 'header.html' %}
{% endblock header %}


{% block content %}
<header class="header-page-bg overlay-shape">
    <div class="header-bottom-shape"></div>
    <div class="container">
        <div class="header-page-content"> <small class="line-shape-bg color-white">о наших услугах</small>
            <h1 class="color-white"> 
                Услуги
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Услуги
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</header>

<section class="service-section pt-100">
    <div class="container">
        <div class="section-title section-title-lg"> <small>Наши услуги</small>
            <h2>Всегда готовы помочь <br><span>Бесплатная коснсультация</span></h2> </div>
        <div class="service-item-grid d-flex flex-wrap">
            
            {% for service in services %}
            <div class="service-item-list service-box-two">
                <div class="service-box-icon"> 
                    <img src="{{service.image.url}}" alt="">
                </div>
                <div class="service-box-text">
                    <h3>{{service.title}}</h3>
                    <p>{{service.description|truncatewords:17|safe}}</p>
                    <p><a href="service-details.html" class="redirect-link">Подробнее <i class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="partner-section p-tb-100">
    <div class="container section-border-bottom pb-100">
        <div class="section-title"> <small>Partners</small>
            <h2>We're Working With</h2> </div>
        <div class="partner-carousel default-carousel owl-carousel owl-theme">
            
            {% for part in partners %}
            <div class="item">
                <div class="partner-thumb">
                    <a target="_blank" href="{{part.link}}"> <img src="{{part.image.url}}" alt="{{part.title}}"> </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
	
{% endblock content %}